@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Rubik', sans-serif;
}

.primary-col{
  background-color: #FF5003;
}
.hover-primary-col{
 background-color: #FD7702
}

body {
  background-image: url('your-background-image-url.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}